html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(../img/timg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font: 14px 'Helvetica';
    color: dimgrey;
    font-weight: 300;
}